<%- include('includes/header') %>


    <body>
        <div>
            <div>Product Page</div>
            <div>
                <%=member.memberNick%>
            </div>



        </div>

    </body>
    <%- include('includes/footer') %>